
.navigation{
  background-color: black;
  
}
.navigation__structure {
  
}
.navigation__position{
  background-color:black;
  display: inline-block;
}
.navigation__link {
  color: whitesmoke;
  margin-right: 20px;
  padding: 16px;
  display: inline-block;
  text-decoration: none;
}

.navigation__link--categories {
  background-color: orange;
  margin-left: 20px;
}

.icon{
  width: 30px;
  height: auto;
}