.logo {
  width: 150px;
  height: 80px;
}
.search__input {
  width: 450px;
  height: 35px;
}
.search__button {
  width: 75px;
  height: 42px;
}
.navigation {
  background-color: black;
}

.navigation__position {
  background-color: black;
  display: flex;
}

.navigation__link {
  color: whitesmoke;
  margin-right: 20px;
  padding: 16px;
  display: inline-block;
  text-decoration: none;
  
}

.navigation__link--categories {
  background-color: orange;
  margin-left: 20px;
}

.icon {
  width: auto;
  height:35px;
}
.icon__text {
  color: whitesmoke;
}
.navigation__position--border{
  border-style: ridge;
  border-top: none;
border-left: none;
border-right: none;

}
.icon__structure{
  position: absolute;
  right: 170px;
border-style: ridge;

border-top: none;
border-bottom: none;
border-right: none;
padding-left: 221px;

}
